
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-6 offset-3 text-center">
        <br>
        <h1>{{ title }}</h1>

        <strong>Пользователь: </strong> {{ user }}
        <hr>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            <br>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock content %}

